:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--nightColor);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
#search{
    width: 50vw;
    height: 3vh;
    margin-top: 2vh;
    border-radius: 25px;
    background-color:#8EC1DD ;
}
#Онсар{
    position: absolute;
    margin-top: 8vh;
    left: 10vw;
    width: 164px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    color: #9CA3AF;
}
