@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--nightColor);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    font-family: manrope;
    
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

#input{
    border: 1px solid black;
    height: 30px;
    width: 500px;
    border-radius: 5px;
}
